/* styles.css */

/* header styling */
h1 {
    color: rgb(233,116,81);
  }
  
  /* Set the background color of the entire page */
  body {
    background-color: #333; /* Dark gray background color */
    color: white; /* Text color */
  }
  
  /* pagination section styling */
  .pagination_section {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
  }
  
  /* pagination styling */
  .pagination_section a {
    color: white;
    padding: 10px 18px;
    text-decoration: none;
  }
  
  /* pagination hover effect on non-active */
  .pagination_section a:hover:not(.active) {
    background-color: #031F3B;
    color: white;
  }
  
  /* pagination hover effect on active */
  .pagination_section a.active {
    background-color: rgb(233, 116, 81);
    color: white;
  }
  
  .content {
    margin: 50px;
    padding: 15px;
    width: 700px;
    height: 200px;
    border: 2px solid black;
  }
  
  /* Add a border style to images */
  .image-frame {
    border: 2px solid #ccc;
    border-radius: 5px; /* Optional: Add rounded corners */
    padding: 10px;
    margin-bottom: 20px;
  }
  
  /* Add space above and below <p> elements */
  p {
    text-align: justify;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  